@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-tobacco: #b59e7d;
  --color-mahogany: #584738;
  --color-vanilla: #f1eada;
  --color-mountain: #aaa396;
  --color-sand: #cec1a8;
  --font-sans: var(--font-manrope);
  --font-serif: var(--font-cormorant);
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #FDFBF9;
}

::-webkit-scrollbar-thumb {
  background: #D6D1CD;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A89F91;
}

/* Hide details marker */
details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
